* {
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.top img:nth-child(1) {
    width: 75px;
    height: 53px;
}

.top img:nth-child(2) {
    width: 42px;
    height: 31px;
}


.bottom {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);;
    position: fixed;
    bottom: 0;
    left: 0;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.mensagens { 
    margin-top: 106px;
    background-color: blueviolet;
    
    /*display: flex;
    text-align: center;*/
}

input::placeholder {
    font-style: italic;
    font-weight: 400px;
    font-size: 18px;
    color: #000000;
    border: none;
}
input:focus {
    outline: none;
}
input {
    font-style: normal;
    font-size: 18px;
    font-weight: 400px;
    color: #000000;
    border: none;
}

button {
    background-color: #FFFFFF;
    border: none;
}
ion-icon {
    font-size: 26px;
    background-color: #FFFFFF;
    
}

ion-icon:hover {
    color: #726f6f;
}

.status {
    height: 100%;
    border-radius: 2px;
    background-color: #DCDCDC;
    margin-bottom: 4px;

}

.todos {
    height: 100%;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
}

.para,
.mensagem {
    font-size: 14px;
    font-weight: 400px;
    color: #000000;  
}
.privado {
    height: 100%;
    border-radius: 2px;
    background-color: #FFDEDE;
    margin-bottom: 4px;
}

.hora {
    font-size: 14px;
    font-weight: 400px;
    color: #AAAAAA;
}

.nome {
    font-size: 14px;
    font-weight: 700px;
    color: #000000;
}

